streamlit
pandas
openpyxl
sqlalchemy
#psycopg2-binary
python-dotenv
playwright
beautifulsoup4
httpx
requests
email-validator
phonenumbers
rapidfuzz
# Removed gemini: google-genai
# Removed sendgrid
apscheduler
loguru
selenium
webdriver-manager
selenium-stealth
undetected-chromedriver
setuptools
groq
#psycopg2-binary==2.9.9
lxml
cssselect
feedparser
